@import './scss/variables.scss';

.today-weather__swiper__item {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    background-color: $slider-background-color;
    user-select: none;

    &--hour,
    &--temp {
        font-size: 20px;
        font-weight: 400;
    }
}

@media screen and (max-width: 430px) {
    .today-weather__swiper__item {    
        &--hour,
        &--temp {
            font-size: 18px;
        }
    }
}
