* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

*::selection {
  color: rgb(0, 89, 255);
  background-color: white;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: 1s;
  z-index: -1;
  
  &__day {
    background-color: rgb(0, 89, 255);
  }
  
  &__night {
    background-color: rgb(0, 34, 128);
  }
}

.weather-cont {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 880px;
  color: white;
}

.weather-control {
  padding: 15px 0;
  display: flex;
  
  &__search-bar {
    position: relative;
    width: 100%;

    &__input {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 0.3);
      
      &--value {
        margin: 0 10px;
        width: 100%;
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 17px;
      }
      
      &--value::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      
      .fa-xmark {
        cursor: pointer;
      }

      &.active {
        background-color: white;
        border-radius: 20px 20px 0 0;
        color: rgba(0, 0, 0, 0.7);

        .weather-control__search-bar__input--value {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    
    &__suggestions {
      position: absolute;
      width: 100%;
      background-color: white;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      z-index: 99;
    }
  }
}

.weather-location {
  margin-top: 20px;

  &__name {
    font-size: 35px;
    font-weight: 600;
  }
  
  &__date {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
  }
}

.current-weather {
  margin-top: 30px;
  display: flex;
  
  &__inner__first {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.7);

    &__temp--value {
      font-size: 92px;
      font-weight: 300;
    }

    &__temp--summary {
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__inner__second {
    padding: 20px;
    margin-left: 30px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;

    &__status--value {
      font-size: 26px;
      font-weight: 400;
    }

    &__status--label {
      margin-top: 3px;
      font-size: 18px;
      font-weight: 400;
      opacity: 0.6;
    }
  }
}

.today-weather {
  margin-top: 60px;

  &__title {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
  }

  &__swiper {
    margin-top: 30px;
    width: 100%;
    height: 195px;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  background-color: white;
}
